<h3>Créditos de <%= title %></h3>
<h4>Autor: Valeri Vazquez</h4>
<img src="images/valeri_200x133.png">
<iframe width="560" height="315" src="https://www.youtube.com/embed/8d0XfYWvlT8" frameborder="0" allowfullscreen></iframe>

